.float-left {
  float: left;
}

.float-right {
  float: right;
}

header {
  background-color: gray;
  color: white;
  display: inline-block;
  width: 100%;
  font-size: 3%;
}

h3 {
  margin-bottom: 20px;
}

.container-fluid {
  max-width: calc(1600px + 10%);
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 auto;
}

.img_header {
  margin: 0 auto;
  width: 100%;
  max-width: calc(1000px + 10%);
}

.ad {
  padding-top: 20px;
}

.marketing {
  width: 100%;
}

.store img {
  position: relative;
  width: 100%
  display: block;
  z-index: 1;
  padding-top: 20px;
}

.store h2 {
  z-index: 2;
  position: relative;
}

.store button {
  z-index: 2;
  position: relative;
}

.work {
  text-align: center;
}